.modal-content1{
    background-color: rgb(15, 15, 15);;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    height: 80%;
    border-radius: 10px;
  }
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

  }
  .close1 {
    position: relative;
    right: -8px;
    float: right;
    margin-top: -23px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
  